.form-container {
  max-width: 100%;
  background: #ffffff;
  padding: 10px 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
}

.form-container::-webkit-scrollbar {
  display: none;
}

.Strong-Text {
  margin-bottom: 5px;
  margin-top: 13px;
  font-weight: 900;
  font-size: 12px;
}

.Title {
  margin-top: 10px;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 25px;
  color: #1e6cfc;
}

.Text {
}

.Text-Center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.input::placeholder {
  color: grey;
  font-size: 12px;
  padding-left: 1px;
}

.input {
  height: 25px;
  max-height: 25px;
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 3px;
  border: 1px solid #000000;
  color: #000000;
  font-size: 12px;
}

.Button {
  min-height: 35px;
  height: 35px;
  margin-top: 5px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  background-color: #00a000;
}
