.app {
  height: 100vh;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  background-image: url("../assets/business-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.image-app {
  width: 230px;
  height: 150px;
  background-image: url("../assets/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  width: 30vw;
  height: 85vh;
  margin-left: 25vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
