.app {
  height: 100vh;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  background-image: url("../assets/business-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-app {
  width: 230px;
  height: 150px;
  padding: 10px 0;
  background-image: url("../assets/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  width: 30vw;
  height: 85vh;
  margin-left: 25vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .app {
    justify-content: center;
  }

  .content {
    width: 40vw;
    margin: 0;
  }

  @media (max-width: 700px) {
    .app {
      justify-content: center;
    }

    .content {
      width: 90vw;
      margin: 0;
    }
  }
}
